@use "../../scss/abstracts/" as *;

.uppercase {
  text-transform: uppercase;
}

.xs {
  font-size: $fontSizeXSmall !important;
}

.sm {
  font-size: $fontSizeNormal !important;
}

.md {
  font-size: $fontSizeMedium !important;
}

.lg {
  font-size: $fontSizeLarge !important;
}

.xl {
  font-size: $fontSizeXSmall !important;
}

.black {
  font-weight: 900;
}
.blackItalic {
  font-weight: 900;
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.boldItalic {
  font-weight: 700;
  font-style: italic;
}
.heavy {
  font-weight: 800;
}
.heavyItalic {
  font-weight: 800;
  font-style: italic;
}
.light {
  font-weight: 300;
}
.lightItalic {
  font-weight: 300;
  font-style: italic;
}
.medium {
  font-weight: 500;
}
.mediumItalic {
  font-weight: 500;
  font-style: italic;
}
.regular {
  font-weight: 400;
}
.regularItalic {
  font-weight: 400;
  font-style: italic;
}
.semi {
  font-weight: 600;
}
.semiItalic {
  font-weight: 600;
  font-style: italic;
}
.thin {
  font-weight: 100;
}
.thinItalic {
  font-weight: 100;
  font-style: italic;
}
.extraLight {
  font-weight: 200;
}
.extraLightItalic {
  font-weight: 200;
  font-style: italic;
}

.title {
  font-size: $desktokTitleSize;
}
.body1 {
  margin: 0px;
  line-height: 1.5;
  font-size: $fontSizeNormal;
  font-weight: $fontWeightNormal;
  color: $subTitleColor;
}
.body2 {
  font-size: 16px;
}

.h4 {
  font-weight: $fontWeightLarge;
  line-height: $lineHeightNormal;
  font-size: $fontSizeMedium;
}
