$bodyBg: rgb(255, 255, 255);
$bodyBgRgba: rgba(255, 255, 255, 0.8);
$formControlDisabled: #959495;

$bgBlur: blur(6px);

$searchBoxShadow: rgb(145 158 171 / 16%) 0px 8px 16px 0px;

$loginTransition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$loginBoxShadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px,
  rgb(145 158 171 / 12%) 0px 12px 24px -4px;
$mainCardBorderRadius: 16px;

$mainBoxShadow: rgb(145 158 171 / 20%) 0px 2px 4px -1px,
  rgb(145 158 171 / 14%) 0px 4px 5px 0px,
  rgb(145 158 171 / 12%) 0px 1px 10px 0px;
$mainTransition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$mainMargin: 24px 0px 0px;
$mainActiveBoxShadow: rgb(145 158 171 / 20%) 0px 5px 5px -3px,
  rgb(145 158 171 / 14%) 0px 8px 10px 1px,
  rgb(145 158 171 / 12%) 0px 3px 14px 2px;

$mobile-width: 600px;
$tablet-width: 1366px;

$scrollbarBg: rgb(1 2 3 / 30%);
$scrollbarBgInactive: rgb(1 2 3 / 20%);

// spacings
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;
$boxRadius: 8px;

$mobile-width: 600px;
$tablet-width: 1366px;

// colors

$mainColor: rgb(0, 171, 85);
$secondaryColor: rgb(28, 202, 255);

$txtColor: rgb(33, 43, 54);
$black: #000;
$white: #fff;
$gray0: #e0e0e0;
$green: #4caf50;
$red: #FF4842;
$whatsAppBg: #25d366;

$subTitleColor: rgb(99, 115, 129);

// Fonts

$fontFamily: "Public Sans", sans-serif;
$fontSizeXSmall: 0.875rem;
$fontSizeNormal: 1rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;
$fontSizeXLarge: 2rem;


$fontWeightNormal: 400;
$fontWeightMedium: 600;
$fontWeightLarge: 700;

$lineHeightSmall: 1;
$lineHeightNormal: 1.5;

// text sizes
$desktokTitleSize: 2rem;

// input styles
$inputWidth: 20rem;
$inputHeight: 4rem;
$inputHoverColor: #212b36;
$inputRadius: 0.5rem;
$inputLabelColor: rgb(145, 158, 171);

// button styles
$primaryButtonActiveBoxShadow: rgb(145 158 171 / 20%) 0px 5px 5px -3px,
  rgb(145 158 171 / 14%) 0px 8px 10px 1px,
  rgb(145 158 171 / 12%) 0px 3px 14px 2px;
$primaryButtonHoverBoxShadow: none;
$primaryButtonBoxShadow: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
$primaryButtonHoverBackgroundColor: rgb(0, 123, 85);

$iconButtonHoverBackground: rgba(99, 115, 129, 0.08);


//Sidebar
$sideBarWidth: 280px;
$sideBarHeaderBackground: rgba(145, 158, 171, 0.12);

//Navbar
$narBarWidth: calc(100% - $sideBarWidth);
$navBarHeight: 92px;