@use "../../scss/abstracts/" as *;

.home {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;

    &>.row {
        padding-left: 24px;
        padding-top: 24px; 
    }

    @include tablet {

        padding-top: 1100px !important;

        &>.row {
            padding-top: 24px; 

            [class*="col-"] {
                padding-top: 24px;
            }
        }
    }
}